---

- name: Application profile configuration
  cisco.aci.aci_ap:
    host: "{{ ansible_host }}"
    username: "{{ ansible_user }}"
    password: "{{ ansible_ssh_pass }}"
    validate_certs: no
    tenant: "{{ tenant.name }}"
    ap: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
  loop: "{{ tenant.aps }}"
  loop_control:
    label: "{{ item.name }}"
