---
# ACI defaults/main.yml

- name: debug 
  debug:
    var: hostvars
    verbosity: 2

- include_tasks: tenant.yml

- include_tasks: vrf.yml

- include_tasks: bd.yml

- include_tasks: epg.yml

- include_tasks: query.yml

# - include_tasks: epgreverse.yml
